@page "/Prueba/Comunica"
<h3>Comunica</h3>


<div class="row">
    <div class="col">
        
        <input type="text" @bind-value="datoEnviar"/>
        <button >OK</button>
    </div>
    <div class="col">
        <Bebe datorecibido="@datoEnviar"></Bebe>

    </div>

</div>





@code {
   
    public string datoEnviar { get; set; } = "ná";





}
